In [2]:
import json
import sqlite3
import logging
import pandas as pd
from datetime import datetime
logging.basicConfig(format='%(asctime)s %(message)s')
log = logging.getLogger(name="log")
log.setLevel(level=logging.INFO)

In [3]:
database_path = "/home/jianrui/Gold/goldPriceHistory"
def buildConnect():
        # 建立数据连接和cursor
        connect = sqlite3.connect(database_path,timeout=10)
        cursor = connect.cursor()
        log.info("数据连接成功！")
        return connect,cursor
connect,cursor = buildConnect()

2025-07-16 10:40:52,717 数据连接成功！

In [16]:
# 执行操作
# sql = "create table GoldETFPrice (timestamp bigint, fund_code bigint, trade_time VARCHAR(32), open float, high float, low float,price float)"
# sql = """insert into GoldETFPrice (fund_code,trade_time,open,high,low,price,timestamp) values ('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749804180')"""
# sql = """delete from GoldETFPriceFluctuation"""
# sql = """alter table GoldETFPriceFluctuation change column """
sql = """delete from GoldETFPriceFluctuation where timestamp > 1752537600"""
# sql = """alter table GoldETFPriceFluctuation add column outsidePan_32min bigint"""
# sql = """insert into GoldETFPrice (timestamp,trade_time,name,date,time,open,pre_close,price,high,low,bid,ask,volume,amount,b1_v,b1_p,b2_v,b2_p,b3_v,b3_p,b4_v,b4_p,b5_v,b5_p,a1_v,a1_p,a2_v,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,outside_pan,inside_pan,fund_code) values ('1751443896','2025-07-02 16:11:36','黄金ETF','20250702',' 16:11:36','73.84','73.97','73.94','74.18','73.95','73.93','73.94','2916548','2157429707.0','159','73.93','1310','73.92','1873','73.91','7610','73.9','1986','73.89','774','73.94','2164','73.95','1580','73.96','6912','73.97','5187','73.98','1488252','1428296','518880')"""
# sql = """alter table GoldETFPrice drop column outsidePan_32min"""
# sql = """alter table GoldETFPriceFluctuation add column insidePan_15sec bigint"""
cursor.execute(sql)
connect.commit()

In [ ]:
sqls = [
    "alter table GoldETFPriceFluctuation Rename column fluctuation_5min to fluctuation_32min",
    "alter table GoldETFPriceFluctuation Rename column average_5min to average_32min",
    "alter table GoldETFPriceFluctuation Rename column variance_5min to variance_32min"
    ]
for sql in sqls:
    cursor.execute(sql)
    connect.commit()

In [18]:
# 查询操作
def executeSearchSql(sql):
    # sql执行
    cursor.execute(sql)
    headers = [header[0] for header in cursor.description]
    rows = []
    for oneline in cursor.fetchall():
        tmp = {}
        for k,v in zip(headers,oneline):
            tmp[k] = v
        rows.append(tmp)
    return rows
# sql = "select * from GoldETFPriceFluctuation where timestamp > 1752537600 and  timestamp < 1752566400 and fund_code=518880"
# sql = """select * from GoldETFPriceFluctuation where timestamp > 1751477547 and fund_code=518880"""
sql = """select * from GoldETFPrice where fund_code=518880 and timestamp<=1752636182 and timestamp>=1752636182-30"""
# sql = """select * from GoldETFPriceFluctuation where timestamp > 1752624000 and fund_code=518880 and insidePan_15sec<0"""
row = executeSearchSql(sql)

In [19]:
for i in row:
    print(i)

{'timestamp': 1752636152, 'fund_code': 518880, 'trade_time': '2025-07-16 11:22:32', 'open': 73.94, 'high': 73.95, 'low': 73.78, 'price': 73.89, 'name': '黄金ETF', 'date': '20250716', 'time': ' 11:22:32', 'pre_close': 74.36, 'b1_v': 10457.0, 'b2_v': 18193.0, 'b3_v': 13077.0, 'b4_v': 4910.0, 'b5_v': 3904.0, 'b1_p': 73.89, 'ask': 73.9, 'volume': 1485186, 'amount': 1097033082.0, 'a1_v': 11466.0, 'a2_v': 14926.0, 'a3_v': 5989.0, 'a4_v': 5896.0, 'a5_v': 1995.0, 'a1_p': 73.9, 'a2_p': 73.91, 'a3_p': 73.92, 'a4_p': 73.93, 'a5_p': 73.94, 'bid': 73.89, 'b2_p': 73.88, 'b3_p': 73.87, 'b4_p': 73.86, 'b5_p': 73.85, 'outside_pan': 712029, 'inside_pan': 773157}
{'timestamp': 1752636167, 'fund_code': 518880, 'trade_time': '2025-07-16 11:22:47', 'open': 73.94, 'high': 73.95, 'low': 73.78, 'price': 73.9, 'name': '黄金ETF', 'date': '20250716', 'time': ' 11:22:47', 'pre_close': 74.36, 'b1_v': 13944.0, 'b2_v': 17624.0, 'b3_v': 11582.0, 'b4_v': 4824.0, 'b5_v': 2904.0, 'b1_p': 73.89, 'ask': 73.9, 'volume': 1488336, 'amount': 1099360928.0, 'a1_v': 3809.0, 'a2_v': 15088.0, 'a3_v': 8380.0, 'a4_v': 7656.0, 'a5_v': 1995.0, 'a1_p': 73.9, 'a2_p': 73.91, 'a3_p': 73.92, 'a4_p': 73.93, 'a5_p': 73.94, 'bid': 73.89, 'b2_p': 73.88, 'b3_p': 73.87, 'b4_p': 73.86, 'b5_p': 73.85, 'outside_pan': 712092, 'inside_pan': 776244}
{'timestamp': 1752636182, 'fund_code': 518880, 'trade_time': '2025-07-16 11:23:02', 'open': 73.94, 'high': 73.95, 'low': 73.78, 'price': 73.91, 'name': '黄金ETF', 'date': '20250716', 'time': ' 11:23:02', 'pre_close': 74.36, 'b1_v': 8797.0, 'b2_v': 14608.0, 'b3_v': 16646.0, 'b4_v': 3864.0, 'b5_v': 5630.0, 'b1_p': 73.9, 'ask': 73.91, 'volume': 1493857, 'amount': 1103441059.0, 'a1_v': 5790.0, 'a2_v': 14635.0, 'a3_v': 6694.0, 'a4_v': 4281.0, 'a5_v': 3278.0, 'a1_p': 73.91, 'a2_p': 73.92, 'a3_p': 73.93, 'a4_p': 73.94, 'a5_p': 73.95, 'bid': 73.9, 'b2_p': 73.89, 'b3_p': 73.88, 'b4_p': 73.87, 'b5_p': 73.86, 'outside_pan': 720144, 'inside_pan': 773713}

In [13]:
for i in row:
    print(i)

{'timestamp': 1752636152, 'fund_code': 518880, 'trade_time': '2025-07-16 11:22:32', 'open': 73.94, 'high': 73.95, 'low': 73.78, 'price': 73.89, 'name': '黄金ETF', 'date': '20250716', 'time': ' 11:22:32', 'pre_close': 74.36, 'b1_v': 10457.0, 'b2_v': 18193.0, 'b3_v': 13077.0, 'b4_v': 4910.0, 'b5_v': 3904.0, 'b1_p': 73.89, 'ask': 73.9, 'volume': 1485186, 'amount': 1097033082.0, 'a1_v': 11466.0, 'a2_v': 14926.0, 'a3_v': 5989.0, 'a4_v': 5896.0, 'a5_v': 1995.0, 'a1_p': 73.9, 'a2_p': 73.91, 'a3_p': 73.92, 'a4_p': 73.93, 'a5_p': 73.94, 'bid': 73.89, 'b2_p': 73.88, 'b3_p': 73.87, 'b4_p': 73.86, 'b5_p': 73.85, 'outside_pan': 712029, 'inside_pan': 773157}

In [20]:
773713+720144

1493857

In [21]:
776244+712092

1488336

In [16]:
# 执行操作
from datetime import datetime
timestamp = int(datetime.now().timestamp())
tmp_mode = "('518880','2025-06-13 16:43:00','7.616','7.653','7.570','{}','{}')"
re = []
for i in range(50):
    re.append(tmp_mode.format("7.588",str(timestamp+20*i)))
sql = """insert into GoldETFPrice (fund_code,trade_time,open,high,low,price,timestamp) 
            values {}""".format(",".join(re))
print(sql)
cursor.execute(sql)
connect.commit()

insert into GoldETFPrice (fund_code,trade_time,open,high,low,price,timestamp)
            values ('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901077'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901097'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901117'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901137'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901157'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901177'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901197'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901217'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901237'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901257'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901277'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901297'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901317'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901337'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901357'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901377'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901397'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901417'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901437'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901457'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901477'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901497'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901517'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901537'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901557'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901577'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901597'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901617'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901637'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901657'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901677'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901697'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901717'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901737'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901757'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901777'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901797'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901817'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901837'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901857'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901877'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901897'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901917'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901937'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901957'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901977'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749901997'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749902017'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749902037'),('518880','2025-06-13 16:43:00','7.616','7.653','7.570','7.588','1749902057')

In [6]:
datetime.strptime('2025-07-08 23:19:59', '%Y-%m-%d %H:%M:%S').timestamp()

1751987999.0

In [4]:
sql = """select * from GoldETFPrice where timestamp > 1751908799 and  timestamp < 1751987999 and fund_code=518880"""
row = executeSearchSql(sql)

In [5]:
sql = """select * from GoldETFPriceFluctuation where timestamp > 1751908799 and  timestamp < 1751987999 and fund_code=518880"""
row1 = executeSearchSql(sql)

In [6]:
df_row = pd.DataFrame(row)
df_row1 = pd.DataFrame(row1)
df = pd.merge(df_row,df_row1,on="timestamp")

In [8]:
df.to_excel("/home/jianrui/Gold/excel/20250708数据.xlsx")

In [43]:
def insertSql_norm(table_name,onelines):
    # 一般形式的写入sql
    key = ",".join(list(onelines[0].keys()))
    values = ["("+",".join(["'"+str(oneline[k])+"'" for k in oneline.keys()])+")" for oneline in onelines]
    values = ",".join(values)
    sql = """insert into {table_name} ({key}) values {values}""".format(
                table_name = table_name, key = key, values = values )
    return sql

insertSql_norm("AAA",[{"id":"1"},{"id":"2"}])

"insert into AAA (id) values ('1'),('2')"

In [45]:
import adata
from datetime import datetime
start = datetime.now()
result = []
for id  in ["518880","159934","159937","518800","518660"]:
    df = adata.fund.market.get_market_etf_current(fund_code=id)
    df  = df.to_dict(orient="records")[0]
    keep_value = ["fund_code","trade_time","open","high","low","price"]
    for key in list(df.keys()):
        if key not in keep_value:
            df.pop(key)
    df["timestamp"] = int(datetime.strptime(df["trade_time"], '%Y-%m-%d %H:%M:%S').timestamp())
    result.append(df)
sql = insertSql_norm("GoldETFPrice",result)

In [5]:
import math
from scipy.stats import norm

def calculate_normal_cdf(x, mean=0, std_dev=1):
    """
    计算正态分布的累积分布函数值
    参数:
        x: 要计算的值
        mean: 均值(默认0)
        std_dev: 标准差(默认1)
    返回:
        累积分布概率值
    """
    # 使用scipy的norm.cdf函数计算
    return norm.cdf(x, loc=mean, scale=std_dev)

# 示例用法
if __name__ == "__main__":
    mean = 7.442242152466367   # 均值
    std_dev = 0.010387756627086048  # 标准差
    x = 7.392    # 要计算的值
    
    cdf_value = calculate_normal_cdf(x, mean, std_dev)
    print(x)
    print(cdf_value)

7.392
6.601612599703893e-07

: